# Basic Printing

In [2]:
print("hello world")

hello world

In [3]:
print("hello")
print("world")

hello
world

In [4]:
print("hello",end=" ")
print("world")

hello world

In [7]:
print("hello","world","asdf",sep="  ")

hello  world  asdf

# Data Types

In [10]:
a=10
print(a)
a="asdf"
print(a)

10
asdf

In [12]:
a=10 #int
f=5.5 #float
b=True #boolean
c=1+3j #complex
s="Rishab" #String
print("{} is of type {} ".format(a,type(a)),
      "{} is of type {} ".format(f,type(f)),
      "{} is of type {} ".format(b,type(b)),
      "{} is of type {} ".format(c,type(c)),
      "{} is of type {} ".format(s,type(s)),
       sep="\n"
     )

10 is of type <class 'int'>
5.5 is of type <class 'float'>
True is of type <class 'bool'>
(1+3j) is of type <class 'complex'>
Rishab is of type <class 'str'>

In [13]:
1==1

True

In [14]:
1 is not 1

False

In [15]:
1==1.0

True

In [17]:
"asdf"+(str)(3)

'asdf3'

In [19]:
a=input("Enter the name")
print(a)

Enter the nameadf
adf

In [21]:
a=input("Enter the name")
print(type(a))
b=(int)(input("Enter the value"))
print(type(b))

Enter the nameasdf
<class 'str'>
Enter the value3
<class 'int'>

In [26]:
print(1+2)
print(1-2)
print(1*2)
print(1/2)
print(1//2)#Floor division
print(3**4)

3
-1
2
0.5
0
81

In [30]:
a=10
a=a+1
a+=1
a

12

In [31]:
#a++

# Conditional Statement and loops

In [33]:
name=input("Enter the name")
if name=="Raghav":
    print("hello "+name)
elif name=="Rishab":
    print("hello "+name)
else:
    print("Dont know your name")

Enter the nameasdf
Dont know your name

In [34]:
_asdf=10
asd_def=11
asdf_=12
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [38]:
for i in range(10):
    for j in range(i+1):
        print(j,end="")
    print(end="\n")

0
01
012
0123
01234
012345
0123456
01234567
012345678
0123456789

In [39]:
for i in range(10):
    print(" "*(10-i),end="")
    for j in range(i+1):
        print(j,end="")
    print(end="\n")

          0
         01
        012
       0123
      01234
     012345
    0123456
   01234567
  012345678
 0123456789

# Functions

In [40]:
def hello():
    print("hello")
hello()

hello

In [42]:
def funwithargs(name="Rishab"):
    print(name)
funwithargs()
funwithargs("Akshay")

Rishab
Akshay

In [46]:
def funwithmoreargs(a,b,c):
    print(a)
    print(b)
    print(c)
funwithmoreargs(b=10,a=20,c=30)

20
10
30

In [51]:
def morefun(*args):
    print(type(args[0]))
morefun(1,2,23,4,5)

<class 'int'>

In [53]:
i=10
b=20
print(id(b))
id(i)

4519927392

4519927072

In [55]:
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
fact(5)

120

# Data Structures

# List

In [56]:
l=[1,2,3,4,5]
print(l)
print(type(l))

[1, 2, 3, 4, 5]
<class 'list'>

In [63]:
l=[1,2,3,"asdf",True,5]
print(l)
# l.sort() #cant be done
# print(l)

[1, 2, 3, 'asdf', True, 5]

In [60]:
l=[1,2,34,5,56]
print(l)
l.sort(reverse=True) #inplace
print(l)

[1, 2, 34, 5, 56]
[56, 34, 5, 2, 1]

In [61]:
l=[1,2,34,5,56]
print(l)
print(sorted(l,reverse=True)) # returns copy
print(l)

[1, 2, 34, 5, 56]
[56, 34, 5, 2, 1]
[1, 2, 34, 5, 56]

In [70]:
a=[1,2,2,2,2,3,4,5,6]
a.append(7)
print(a)
a.pop()
print(a)
a.insert(1,100)
print(a)
a.remove(2)
print(a)

[1, 2, 2, 2, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 2, 2, 3, 4, 5, 6]
[1, 100, 2, 2, 2, 2, 3, 4, 5, 6]
[1, 100, 2, 2, 2, 3, 4, 5, 6]

In [71]:
str="machine learning"
print(str)

machine learning

In [72]:
str[12]

'n'

In [77]:
s="       Hello World        "
print(s.lstrip())
print(s.rstrip())
print(s.strip())

Hello World
       Hello World
Hello World

In [78]:
s="hello World"
print(s)
print(s.lower())
print(s.upper())

hello World
hello world
HELLO WORLD

In [85]:
a=[1,2,3,4,5,6]
print(a[0:3])
print(a)
print(a[:])
print(a[:5])
print(a[-1:])
print(a[0:2:5])

[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[6]
[1]

In [88]:
s="machine learning"
print(s[:])
print(s[-1:])
print(s[-1::-1])

machine learning
g
gninrael enihcam

# Dictionaries

In [89]:
d={}
print(type(d))

<class 'dict'>

In [93]:
d={"name":"asdf","age":35}
print(d)

{'name': 'asdf', 'age': 35}

In [94]:
print(d['name'])

asdf

In [95]:
d["djcjc"]=200
print(d)

{'name': 'asdf', 'age': 35, 'djcjc': 200}

In [98]:
print(d.keys())
print(d.values())
for i in d:
    print("key is {} and value is {} ".format(i,d[i]))

dict_keys(['name', 'age', 'djcjc'])
dict_values(['asdf', 35, 200])
key is name and value is asdf
key is age and value is 35
key is djcjc and value is 200

# Tuples

In [102]:
t=(1,2,3,4,5) # it is immutable
print(t[0])
print(t)
print(type(t))
#t[0]=100

a,b,c,d,e=t# unpacking
print(a)
print(b)
print(c)
print(d)
print(e)

1
(1, 2, 3, 4, 5)
<class 'tuple'>
1
2
3
4
5

#